# Node modules
node_modules/

# Dependency lock files
package-lock.json
yarn.lock

# Logs
print-log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Build artifacts (if you package app)
dist/
out/
